{% extends 'base.html' %}

{% block content %}
<div class="jobs_container">

    <div class="create-job">
        <h2>Post New Job</h2>
        <form action="{{ url_for('create_jobs') }}" method="post">
            <input type="text" name="title" placeholder="Job Title" required>

            <input type="text" name="required_skills" placeholder="Required Skills (e.g. python,flask,sql)" required>

            <button type="submit">Create Job</button>
        </form>
    </div>

    {% if jobs %}

    <h2>Job List</h2>


    {% for job in jobs %}
    <div class="job-card">
        <h4>{{ job.title }}</h4>
        <p>Required Skills: {{ job.skills_required }}</p>
        <br>
    </div>
    {% endfor %}

    <br>

    {% else %}
    <p>No job created yet.</p>
    {% endif %}
</div>
{% endblock %}